.overlay {
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: calc(100% - 60px);
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.cartOverlay {
    position: fixed;
    top: 60px;
    right: 120px;
    width: 25%;
    background: white;
    z-index: 20;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartTitleContainer {
    display: flex;
    align-items: baseline;
}

.cartTitle {
    margin-right: 10px;
}

.closeBtn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.cartItems {
    flex-grow: 1;
}

.cartItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cartItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.cartItemTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.cartItemTitle h3 {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}

.cartItemPrice {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.cartItemAttribute {
    margin-top: 10px;
}

.attributeOptions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.colorSwatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
}

.colorSwatch.selected {
    border: 2px solid #000;
}

.attributeOption {
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.colorOptions {
    padding: 1px;
}

.selected {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.colorSwatch {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid #000;
}

.colorSwatch.selected {
    outline: 1px solid #00f086;
    outline-offset: 1px;
}

.cartItemQuantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.cartItemQuantity button {
    background: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
}

.cartItemQuantity span {
    font-size: 16px;
    font-weight: bold;
}

.cartItemImage {
    width: 30%;
    object-fit: cover;
    margin-left: 10px;

    .cartFooter {
        margin-top: 10px;
    }

    .cartTotal {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .cartTotalPrice {
        font-weight: bold;
    }

    .CartCount {
        font-weight: lighter;
    }

    .labelTitle {
        margin-bottom: 10px;
    }

    .placeOrderBtn {
        width: 100%;
        padding: 10px;
        background-color: #00de7f;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    .placeOrderBtn:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}
