/* ProductList.css */
.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: calc(33.333% - 20px);
    margin-bottom: 20px;
    text-align: center;
}

.product-img img {
    width: 100%;
    height: auto;
}

.product-info {
    padding: 10px;
}

.product-info h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-info p {
    font-size: 1rem;
    color: #555;
}
